/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 10px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

#name{
    padding-left: 20px;
    text-align: center;
    font-size: 40px;
    padding-bottom: 60px;
}

#logo{
    margin-left: 200px;
    float: right;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#about{
    font-size: 16px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

#mySidenav{
    width: 250px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

#title{
    text-align: center!important;
}

#content{
    margin-left: 300px;
    margin-right: 200px;
}

.padded{
    margin-left: 150px;
}

.acc-menu{
  padding:4em;
}
*{
  box-sizing:border-box;
}

.acc-menu, .acc-menu ul{
  line-height:1.5;
  list-style:none;
  padding:0;
  margin:0;
}

.acc-menu{
  margin-left:-1.5em;
}
.acc-menu > li{
  padding-left:1.5em;
  margin-bottom:0.5em;
}
.acc-menu li a{
  display:block;
  padding:0.25em;
  background:rgb(230,230,230);
  color:#444;
  text-decoration:none;
}
.acc-menu li a:hover{
  background:rgb(130,130,130);  
}
.acc-menu > li > a{
    background:red;
    color:white;
    font-weight:bold;
}

.acc-menu input[type="checkbox"] ~ ul li,
.acc-menu input[type="checkbox"].current:checked ~ ul li{
  height:0;
  overflow:hidden;
  transition:.2s ease-in;
}
.acc-menu input[type="checkbox"]:checked ~ ul li,
.acc-menu input[type="checkbox"].current ~ ul li{
  height:auto;
}
.acc-menu input[type="checkbox"]{
  display:none;
}
.acc-menu label{
  display:block;
  float:left;
  content:"";
  margin-left:-1.5em;
  width:1.5em;
  padding:0.25em;
  text-align:center;
  background:red;
  color:white;
  font-weight:bold;
  cursor:pointer;
}
.acc-menu  label:hover{
  background:darkred;
}
.acc-menu  label:before,
/*This flip-reverses the label */
.acc-menu input[type="checkbox"]:checked.current  ~ label:before{
  content:"+";
}
.acc-menu input[type="checkbox"]:checked ~ label:before,
.acc-menu input[type="checkbox"].current  ~ label:before{
  content:"-";
}
